<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de Estudiantes</title>
<!-- Añado el css de BootStrap -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<!-- Creo la cabecera de la web -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dar">
		<a class="navbar-brand" href="/estudiantes">Lista de estudiantes</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class=nav-item><a class="nav-link"
					th:herf="@{/estudiantes}"><font color="grey">Lista de
							estudiantes</font></a></li>
			</ul>
		</div>
	</nav>
	<br>
	<!-- Creo un formulario -->
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Registro de estudiante</h1>
				<div class="card-body">
				<!-- con th:object le estamos pasando el objeto y con method le decimos la clase de petición que es, los formularios siempre son POST-->
				<form th:action="@{/estudiantes}" th:object="${estudiante}" method="POST">
				<div class="form-group">
				<label>Nombre: </label>
				 <input type="text" name="nombre" th:field="*{name}" class="form-control" placeholder="Introduzca su nombre: " required></input>
				<label>Apellido: </label>
				<input type="text" name="apellido" th:field="*{lastName}" class="form-control" placeholder="Introduzca su apellido: " required></input>
				<label>Email: </label>
				<input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Introduzca su email: " required></input>
				</div>
				<br>
				<div class="box-footer">
				<button class="btn btn-success">Guardar</button>
				</div>
				</form>
				</div>
			</div>
		</div>
	</div>



</body>
</html>